.nav-bar{
    padding-left:30px ;
    padding-right:30px;
    border-bottom: 1px solid #e5e5e5;
  
 display: flex;
 justify-content: space-between;
align-items: center;
}
.nav-bar p{

font-size: 24px;
font-weight: 700;
line-height: 27.28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.nav-left{
    display: flex;
    gap: 20px;
}
.nav-left img{
    cursor: pointer;
    gap:10px;
   
}