

.login{
    width: 100%;
    height: 100%;
   
    position: absolute;
    display: flex;          /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; 

}

.login-container{
    width: 90%;
    height: 80%;
    
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
   
}
.login-right{
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
    display: flex;
    flex-direction: column; /* To stack the content vertically */
    height: 100%; /* Ensure this takes up full height of login-container */
   

}
.login-left{
    width: 50%;

   
}
.heading{
    text-align: center;

font-size: 20px;
font-weight: 800;
line-height: 27.28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.login-form{
display: flex;
flex-direction: column;
align-items: center;


height: 100%;

}
label {
    text-align: start;
    font-size: 14px;
    margin-bottom: 5px;
    display: block; /* Ensure the label takes up the full width and is on top */
}
.login-input label{
   
font-size: 14px;
font-weight: 500;
line-height: 19.1px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}
.login-input{
    width: 70%;
   
    
}
.login-input div{
    margin-top: 20px;
}
.login-input input{

   width: 100%;
 
padding: 16px 20px 16px 20px;
gap: 8px;
border-radius: 8px ;
border: 1px solid  #6036b4;
color: black;


}
.btn{
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    color: white;
    border: none;
    background: linear-gradient(180deg, #783FED 0%, #442487 100%);

}
.mes{
    color:#A4A4A4;
    font-family: Nunito;
font-size: 18px;
font-weight: 500;
line-height: 19.1px;

text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.mes span{
    cursor: pointer;
    color: #6036b4

}

.login-left{
    
    background: linear-gradient(180deg, #783FED 0%, #442487 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}